body {
  margin: 0;
  font-family: 'inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'inter';
}

.wrapper {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}



.button {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: none;
    padding: 13px;
    font-size: 16px;
    max-width: 200px;
    width: 100%;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  right: 0;
  height: 100%;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  h2 {
    margin: 0;
  }

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;

      div {
        flex: 1;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .greenButton {
    position: relative;


    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: all .3s ease-in-out;
    }
  }

}

.greenButton {
  width: 100%;
  height: 55px;
  background-color: #9dd558;
  border-radius: 18px;
  border: none;
  font-size: 16px;
  color: #ffff;
  font-weight: 500;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background-color: lighten(#9dd558, 10%);
  }

  &:active {
    background-color: darken(#9dd558, 10%);
  }
}



.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}